@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
 
#james {
    background-color: aqua;
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
    border-radius: 25px;
    padding: 30px;
}
 
 
#jimmy {
   position: absolute;
   top: 30px;
   right: 30px;
   padding: 10px;
   word-wrap: normal;
}
#footer {
    background-color: aqua;
    color: black;
    border-radius: 25px;
    padding: 30px;
}
